<!DOCTYPE html>
<html>
<head>
    <link href="/style/main.css" rel="stylesheet" type="text/css">
    <title>Chat Proof of Concept</title>
</head>
<body scroll="no" style="overflow: hidden" id="test-body">
    <nav class="navbar">
        <div class="navbar-left">
            <img src="/style/images/placeholder.jpg" alt="Profile Button">
        </div>
        <div class="navbar-right">
            <img src="/style/images/placeholder.jpg" alt="Menu Button">
        </div>
    </nav>
    <div class="container">
        <div class="description-images-container">
          <div class="description-box">
            <h2>Description</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus mi in nulla maximus cursus.</p>
          </div>
          <div class="images-box">
            <h2>Images</h2>
            <ul>
                <img src="/style/images/placeholder.jpg" alt="testimage1">
                <img src="/style/images/placeholder.jpg" alt="testimage2">
                <img src="/style/images/placeholder.jpg" alt="testimage3">
                <img src="/style/images/placeholder.jpg" alt="testimage4">
                <img src="/style/images/placeholder.jpg" alt="testimageexcess">
              <!-- Add more list items as needed -->
            </ul>
          </div>
        </div>
        <div class="info-box">
          <h2>Bedrijf Info</h2>
          <!-- Place your image elements here -->
        </div>
      </div>      
  <div class="chat-box">
    <div class="message1">
      <span class="user">Stan V:</span> Hello there!
      <span class="time">23:30</span>
    </div>
    <div class="message2">
      <span class="user">Richard V:</span> Hi! How can I help you?
      <span class="time">23:35</span>
    </div>
    <div class="message1">
      <span class="user">Stan V:</span> I have a question about your product.
      <span class="time">23:40</span>
    </div>
    <div class="message2">
      <span class="user">Richard V:</span> Sure, feel free to ask!
      <span class="time">23:45</span>
    </div>
    <div class="chat-input-container">
        <input type="text" class="chat-input" placeholder="Type your message..." />
        <button class="send-button">Send</button>
      </div>
  </div>
</body>
</html>
