<script src="/resources/lib/multiselect-dropdown.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Create</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link href="/style/main.css" rel="stylesheet" type="text/css">

</head>

<body id="projectcreatebody" class="navbar-page">
    <div id="navbar-container"></div>
    <div class="orbs">
        <div id="orb1"></div>
        <div id="orb2"></div>
        <div id="orb3"></div>
    </div>
    <div class="orbs2">
        <div id="orb4"></div>
        <div id="orb5"></div>
        <div id="orb6"></div>
    </div>

    <form action="/project/new" method="post" enctype="multipart/form-data" id="createprojectform">
        <label>Title </label>
        <input type="text" name="title" value="<%= locals.title %>" required id="createprojectinput">
        <label>Description</label>
        <textarea name="description" id="textareacreateproject" cols="30" rows="10" required></textarea>

        <label>Contact info</label>
        <input type="text" name="contact" required id="createprojectinput">

        <label>Foto's</label>
        <div class="mb-3">
            <input class="form-control" type="file" name="fotos" id="fileInput formFileMultiple" multiple>
        </div>

        <label>Additional Files </label>
        <div class="mb-3">
            <input class="form-control" type="file" name="files" id="fileInput formFileMultiple" multiple>
        </div>

        <label>Course(s)</label>
        <select name="courses" id="courseSelect selecReg" multiple multiselect-search="true"
            multiselect-select-all="true">
            <% resultCourse.data.forEach(row=> { %>
                <option value="<%=row.id%>">
                    <%=row.courseName%>
                </option>
                <% });%>
        </select>
        <button type="submit" id="createprojectsubmit" value="Submit">Create</button>
        <span class="ERROR">
            <%= locals.error %>
        </span>
    </form>

</body>

</html>
<script src="/script/navbar.js"></script>