<script src="/resources/lib/multiselect-dropdown.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <form action="/project/new" method="post" enctype="multipart/form-data">
        <label>Title
            <input type="text" name="title" value="<%= locals.title %>" required>        
        </label>
        <label>Description
            <textarea name="description" id="" cols="30" rows="10" required></textarea>
        </label>
        <label>Contact info
            <input type="text" name="contact" required>
        </label>
        <label>Foto's
            <input type="file" name="fotos" id="fotoInput" multiple>
        </label>
        <span class="ERROR"><%= locals.error %></span>
        <label>Additional Files
        <input type="file" name="files" id="fileInput" multiple>
        </label>
        <label>Course(s)</label>
        <select name="courses" id="courseSelect" multiple
            multiselect-search="true" 
            multiselect-select-all="true">
                <% resultCourse.data.forEach(row => { %>
                    <option value="<%=row.id%>"><%=row.courseName%></option>
                <% });%>
        </select>
        <button type="submit" value="Submit">Create</button>
    </form>
</body>
</html>
<script>
    // document.addEventListener('DOMContentLoaded', function() {
    //     console.log('eapdsdad');
    //     var select = new MultiselectDropdown('#courseSelect', {
    //         searchEnabled: true,
    //         selectAllEnabled: true
    //     });
    // });
    
  </script>