/* Error: There's already a module with namespace "verify".
 *    ,
 * 10 | @use "include/verify";
 *    | ===================== original @use
 * 11 | @use "include/verify.scss";
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^ new @use
 *    '
 *   public\style\main.scss 11:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"verify\".\a    \2577 \a 10 \2502  @use \"include/verify\";\d\a    \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a 11 \2502  @use \"include/verify.scss\";\d\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^ new @use\a    \2575 \a   public\\style\\main.scss 11:1  root stylesheet";
}
