#login-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("images/LoginBackground.jpg");
  background-size: 100% 105%;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  /* Small devices */
}
#login-body .loginForm {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  width: 350px;
  height: 400px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  align-items: center;
}
#login-body .loginForm #logintoptext {
  margin-top: 15px;
  text-align: center;
  font-size: larger;
  color: #436f70;
}
#login-body .loginForm input[type=text],
#login-body .loginForm input[type=password] {
  height: 20px;
  width: 94%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-radius: 4px;
  text-align: center;
  user-select: none;
}
#login-body .loginForm label {
  margin-top: 10px;
}
#login-body .loginForm textarea:focus,
#login-body .loginForm input:focus {
  outline: none;
}
#login-body .loginForm button {
  align-self: center;
  padding: 10px;
  background-color: #87bfc0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  width: 50%;
  margin-top: 10px;
}
#login-body .loginForm button:hover {
  background-color: #6cb0b2;
}
#login-body #login-bar {
  width: 100%;
  height: 3px;
  background-color: grey;
  opacity: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
}
#login-body #bottomlabellogin {
  margin-top: 5px;
  text-align: center;
  padding-bottom: 15px;
}
@media only screen and (max-width: 480px) {
  #login-body .loginForm {
    background-color: 255;
    width: 70%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #login-body .loginForm {
    width: 60%;
  }
}
@media screen and (max-height: 600px) {
  #login-body .loginForm {
    height: 70%;
    overflow-y: auto;
  }
}

#register-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("images/LoginBackground.jpg");
  background-size: 100% 105%;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  text-align: center;
  /* Responsive Styling */
  /* Small devices */
}
#register-body #register-bar {
  width: 100%;
  height: 3px;
  background-color: grey;
  opacity: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
}
#register-body #formregister {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 40px 20px;
  width: 460px;
  height: 500px;
  margin: 0 auto;
  border-radius: 12px;
  overflow-y: auto;
}
#register-body #formregister .lblregform {
  margin-bottom: 3px;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#register-body #formregister #texttopreg {
  margin-top: 15px;
  text-align: center;
  font-size: larger;
  color: #436f70;
}
#register-body #formregister input[type=text],
#register-body #formregister input[type=email],
#register-body #formregister input[type=password] {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
  text-align: center;
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#register-body #formregister select {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
  text-align: center;
  width: calc(80% + 4px);
  align-self: center;
  padding: 0 2px; /* Add padding to center the text within the select */
  -moz-appearance: none; /* Remove default appearance in Firefox */
  -webkit-appearance: none; /* Remove default appearance in Safari/Chrome/Opera */
  appearance: none; /* Remove default appearance in other browsers */
  background: url("images/caret-right.svg") no-repeat right center; /* Replace "arrow-icon.png" with your arrow icon */
  background-size: 20px; /* Set the size of the arrow icon */
}
#register-body #formregister select:focus {
  background: url("images/caret-down.svg") no-repeat right center;
  background-size: 20px; /* Set the size of the arrow icon */
}
#register-body #formregister select::-ms-expand {
  display: none; /* Hide the default arrow icon in Internet Explorer */
}
#register-body #formregister button {
  align-self: center;
  padding: 10px;
  background-color: #87bfc0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  width: 50%;
  margin-top: 20px;
}
#register-body #formregister button:hover {
  background-color: #6cb0b2;
}
@media screen and (max-height: 600px) {
  #register-body #formregister {
    height: 70%;
    overflow-y: auto;
  }
}

#admin-body .allButtons {
  position: fixed;
  bottom: 2%;
  right: 1%;
  z-index: 9999;
}
#admin-body .content-container {
  margin: 5px 0 0 -1px;
}
#admin-body table {
  margin-top: 50px;
  width: auto;
  margin-bottom: 20px;
  margin-left: 5%;
}
#admin-body th,
#admin-body td {
  padding: 5px;
  text-align: left;
}
#admin-body th {
  padding-top: 10px;
  background-color: #bcdbdc;
  font-weight: bold;
  position: sticky;
  top: 0;
}
#admin-body td {
  background-color: #e0f2f3;
}
#admin-body a {
  text-decoration: none;
  color: #000;
}
#admin-body .approve-button {
  width: 33%;
  background-color: #5ab395;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
#admin-body .approve-button:hover {
  filter: brightness(85%);
}
#admin-body .decline-button {
  width: 33%;
  background-color: #8bbbbd;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
#admin-body .decline-button:hover {
  filter: brightness(85%);
}
#admin-body .view-button {
  background-color: #7aa5ba;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
#admin-body .view-button:hover {
  filter: brightness(85%);
}
#admin-body #nav-home-tab,
#admin-body #nav-profile-tab,
#admin-body #nav-contact-tab {
  color: #929191;
}
#admin-body #nav-home-tab.active,
#admin-body #nav-profile-tab.active,
#admin-body #nav-contact-tab.active {
  color: #000000;
}
#admin-body .table-container {
  margin-top: 2%;
  min-height: 75vh;
  max-height: 75vh; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

#projectcreatebody {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
  overflow: hidden;
}

#createprojectform {
  background-color: white;
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

#createprojectform textarea {
  max-height: 65%;
}

#box-left-createproject {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 30px;
  height: 300px;
}

#box-right-createproject {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 30px;
  height: 300px;
}

#createprojectform textarea:focus {
  border-color: #11c9cc;
}

#createprojectinput {
  display: inline-block;
  padding: 2px 5px 0px 5px;
  border-radius: 4px;
  border: solid 1px #ced4da;
  background-color: white;
  width: 100%;
  height: 40px;
}

#createprojectinput:focus {
  outline: none;
  border-color: #11c9cc;
  box-shadow: 0 0 0 0.5px #6cb0b2;
}

#textareacreateproject {
  border: 1px solid #ccc;
}

#fotoInput {
  width: 40vh;
  background-color: #6cb0b2;
  height: 8vh;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  border: 2px solid #000;
}

#fileInput {
  width: 40vh;
  height: 8vh;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #6cb0b2;
  color: white;
  border: 2px solid #000;
}

.container-main {
  display: flex;
  flex-direction: column;
}

.container-wrapper {
  display: flex;
  flex-direction: row;
}

#createprojectsubmit {
  width: 100%;
  background-color: #87bfc0;
  height: 40px;
  color: white;
  border: solid 0px white;
  padding: 5px;
  font-size: 1em;
  border-radius: 3px;
  font-weight: bold;
  margin: 0 auto;
  position: relative;
  top: 30px;
}
#createprojectsubmit:hover {
  background-color: #6cb0b2;
}

#navtabs {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.multiselect-dropdown {
  max-width: 320px;
  width: 100% !important;
}

.multiselect-dropdown-list {
  text-align: left;
}

.multiselect-dropdown span.placeholder {
  display: none;
}

#projecthome {
  display: flex;
  overflow: hidden;
  font-family: "Garamond";
  src: url("/style/fonts/EBGaramond.ttf") format("truetype");
  font-weight: 500;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#projectview {
  z-index: 3000;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  margin-top: 15vh;
  overflow: auto; /* Use 'auto' instead of 'scroll' */
  height: 600px; /* Adjust the height as needed */
}

.item {
  z-index: 3000;
  padding: 10px;
  color: black;
  opacity: 90%;
  width: 100%;
  font-size: larger;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
  cursor: pointer;
}

.item:hover {
  background-color: #e7e7e7;
}

#pannelcreator {
  flex: 1;
  text-align: left;
}

#panneltitle {
  flex: 1;
  text-align: center;
}

#pannelcontact {
  flex: 1;
  text-align: center;
}

#pannelprogress {
  flex: 1;
  text-align: center;
}

#panneljoin {
  flex: 1;
  text-align: end;
}

#headerproject {
  background-color: #58a9aa;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  color: #fff;
  text-align: center;
  font-size: xx-large;
}

#footerproject {
  position: absolute;
  bottom: 0px;
  background-color: #58a9aa;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: xx-large;
  color: #fff;
}

#side {
  height: 1080px;
  width: 10%;
  background-color: #e7e7e7;
}

a {
  text-decoration: none;
  color: #000;
}

#test-body {
  display: flex;
  max-height: 95vh;
}
#test-body #chat-container {
  margin-top: 45px;
  margin-right: 10px;
  width: 33vw;
  border: 2px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  border-radius: 10px;
  font-family: "Garamond";
  font-weight: 500;
  min-height: 88vh;
  position: relative;
}
#test-body #chat-container::before {
  content: "";
  flex-grow: 1;
}
#test-body .own-message {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #87bfc0;
  border-radius: 5px;
  width: fit-content;
  align-self: flex-end;
}
#test-body .carousel {
  position: relative;
  overflow: hidden;
}
#test-body .slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#test-body .slide.active {
  opacity: 1;
}
#test-body .prev,
#test-body .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
#test-body .prev {
  left: 10px;
}
#test-body .next {
  right: 10px;
}
#test-body .received-message {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #bcdbdc;
  border-radius: 5px;
  width: fit-content;
  align-self: flex-start;
}
#test-body .user {
  font-weight: bold;
}
#test-body .time {
  font-size: 0.8em;
  color: #777;
}
#test-body .chat {
  display: flex;
  flex-direction: column;
}
#test-body .chat-message {
  word-break: break-word;
}
#test-body #chat-form {
  border-radius: 10px;
  position: sticky;
  bottom: -10px;
  width: 100%;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.3);
  border-top: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1; /* Ensure the chat form is on top of the chat container */
}
#test-body #chat-input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
}
#test-body #send-button {
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  background-color: #87bfc0;
  color: #fff;
  cursor: pointer;
}
#test-body .send-button:hover {
  background-color: #6ca9aa;
}
#test-body .info-box {
  position: relative;
  width: 33vw;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
}
#test-body .container {
  padding-top: 45px;
  padding-right: 20px;
  display: flex;
}
#test-body .description-images-container {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
#test-body .description-images-container .description-box {
  width: 30vw;
  flex-grow: 2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: auto; /* Add scrollbar for vertical overflow */
  max-height: 50vh; /* Set maximum height for the description box */
  max-width: 33vw;
}
#test-body .description-images-container .images-box {
  position: relative;
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
}
#test-body .images-box img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin: 2px;
}
#test-body .join-message {
  align-self: center;
  font-size: small;
  color: #a5a5a5;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid #a5a5a5;
  margin-bottom: 10px;
}
#test-body #delete-file {
  color: #ff0000;
  font-weight: 700;
  font-size: small;
  border: none;
  background: transparent;
}
#test-body #ApplyChanges-Button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
  border: none;
  background-color: #87bfc0;
  color: #fff;
  cursor: pointer;
}
#test-body #addFiles {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
  border: none;
  background-color: #87bfc0;
  color: #fff;
  cursor: pointer;
}

/* ===== Scrollbar SCSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #82afb3 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #82afb3;
  border-radius: 16px;
  border: 3px solid #f5f5f5;
  z-index: 10;
}

#verify-body {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("images/LoginBackground.jpg");
  background-size: 100% 105%;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
  justify-content: center;
}

.verifyForm {
  border: 2px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  height: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.token-input {
  width: 35px;
  border: 2px solid #ccc;
  background-color: #cee1e1;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #87BFC0 20%, #ffffff 80%);
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move_wave 10s linear infinite;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

.notification-body {
  display: flex;
  align-items: center;
  height: 100vh;
}
.notification-body .notification-wrapper {
  margin-left: 50px;
  width: 1150px;
  height: 800px;
  max-height: 800px;
  overflow-y: scroll;
}
.notification-body .notification-wrapper .notification {
  border: 1px rgba(0, 0, 0, 0.1) solid;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  height: 50px;
}
.notification-body .notification-wrapper .notification .notification-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 0;
}
.notification-body .notification-wrapper .notification .notification-link .text {
  margin-left: 10px;
  text-align: left; /* Added text-align property */
}
.notification-body .notification-wrapper .notification .notification-link .text .bold {
  font-weight: bold;
}
.notification-body .notification-wrapper .notification .notification-link .date {
  margin-left: auto;
  margin-right: 10px;
}
.notification-body .notification-wrapper .notification .notification-link .close-svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  z-index: 999;
}
.notification-body .notification-wrapper .notification .notification-link .close-svg:hover {
  fill: rgb(201, 5, 5);
}
.notification-body .notification-wrapper .notification .apply {
  border-left: 3px blue solid;
  background-color: rgb(224, 224, 255);
}
.notification-body .notification-wrapper .notification .warning {
  border-left: 3px rgb(201, 5, 5) solid;
  background-color: rgb(253, 203, 203);
}
.notification-body .notification-wrapper .notification .succes {
  border-left: 3px rgb(32, 165, 5) solid;
  background-color: rgb(210, 255, 209);
}

textarea:focus,
input:focus {
  outline: none;
}

.navbar-page {
  margin: 0;
  padding-left: 200px;
  /* Add padding to the left to accommodate the navbar */
}
.navbar-page #sidebarMenu {
  border-right: 1px solid #e4e4e4;
  background-color: rgb(221, 235, 247);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  z-index: 999;
  /* Set a higher z-index to keep the navbar above other content */
  font-size: 20px;
  opacity: 85%;
}
.navbar-page #sidebarMenu .svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 6px;
  fill: rgb(0, 0, 0);
}
.navbar-page #sidebarMenu .svg-arrow {
  width: 20px;
  height: 20px;
}
.navbar-page #sidebarMenu .nav-info {
  position: relative; /* Add position relative for the pseudo-element */
  background: linear-gradient(#87BFC0, #b7e8eb);
  background-color: #87BFC0;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar-page #sidebarMenu .nav-info .wrapper {
  width: 90%;
}
.navbar-page #sidebarMenu .nav-info .wrapper .svg {
  margin-top: -10px !important;
}
.navbar-page #sidebarMenu .nav-info .wrapper span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.navbar-page #sidebarMenu .nav-info::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px; /* Adjust the distance from the bottom as needed */
  width: 100%;
  height: 10px; /* Adjust the height of the shadow as needed */
  background: linear-gradient(to bottom, #b7e8eb, white); /* Gradient from shadow color to transparent */
}
.navbar-page #sidebarMenu .nav-items {
  background-color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-page #sidebarMenu .nav-items .logout-link:hover {
  background-color: rgba(255, 0, 0, 0.6);
}
.navbar-page #sidebarMenu .nav-items .logout-link:hover span {
  color: white;
}
.navbar-page #sidebarMenu .nav-items .logout-link:hover .svg {
  fill: white;
}
.navbar-page #sidebarMenu .nav-items .nav-link {
  width: 90%;
  height: 60px;
  margin: 10px 0px 5px 0px;
  text-align: left;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid #e4e4e4;
  padding: 15px;
  position: relative;
  z-index: 1;
}
.navbar-page #sidebarMenu .nav-items .nav-link:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.navbar-page #sidebarMenu .nav-items .nav-link.active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}
.navbar-page #sidebarMenu .nav-items .nav-link.active:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.navbar-page #sidebarMenu .nav-items span {
  vertical-align: bottom;
  display: inline-block;
  margin-top: 6px;
  color: rgb(146, 145, 145);
}
.navbar-page #sidebarMenu .nav-items .submenus {
  padding-left: 10px;
  width: 100%;
  transform-origin: top center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
.navbar-page #sidebarMenu .nav-items .submenus .active {
  background-color: #f1f1f1;
}
.navbar-page #sidebarMenu .nav-items .show {
  transform-origin: top center;
  max-height: 500px; /* Adjust the max-height value to fit your content */
  transition: max-height 0.3s ease-in-out;
}
.navbar-page #sidebarMenu .nav-items .svg-wrapper-arrow {
  position: absolute;
  top: 12px;
  left: 135px;
  padding: 5px 10px 10px 10px;
}
.navbar-page #sidebarMenu .nav-items .submenus a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #e4e4e4;
  width: 80%;
  display: flex;
  align-items: center;
}
.navbar-page #sidebarMenu .nav-items .submenus a:hover {
  background-color: #fafafa;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  10% {
    transform: scaleY(0.1);
  }
  20% {
    transform: scaleY(0.2);
  }
  30% {
    transform: scaleY(0.3);
  }
  40% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(0.5);
  }
  60% {
    transform: scaleY(0.6);
  }
  70% {
    transform: scaleY(0.7);
  }
  80% {
    transform: scaleY(0.8);
  }
  90% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}
.rotate {
  transform: rotate(90deg);
}

/*# sourceMappingURL=main.css.map */
