@charset "UTF-8";
#login-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("images/LoginBackground.jpg");
  background-size: 100% 105%;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
}
#login-body .loginForm {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  width: 400px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  align-items: center;
}
#login-body .loginForm #logintoptext {
  margin-top: 15px;
  text-align: center;
  font-size: larger;
  color: #436f70;
}
#login-body .loginForm input[type=text],
#login-body .loginForm input[type=password] {
  height: 20px;
  width: 94%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-radius: 4px;
  text-align: center;
  user-select: none;
}
#login-body .loginForm label {
  margin-top: 10px;
}
#login-body .loginForm textarea:focus,
#login-body .loginForm input:focus {
  outline: none;
}
#login-body .loginForm button {
  align-self: center;
  padding: 10px;
  background-color: #87bfc0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  width: 50%;
  margin-top: 10px;
}
#login-body .loginForm button:hover {
  background-color: #6cb0b2;
}
#login-body #login-bar {
  width: 100%;
  height: 3px;
  background-color: grey;
  opacity: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
}
#login-body #bottomlabellogin {
  margin-top: 5px;
  text-align: center;
  padding-bottom: 15px;
}

@media only screen and (max-width: 480px) {
  #login-body {
    height: 100vh;
  }
  .loginForm {
    width: 80%;
  }
  .loginForm #loginConfirm {
    width: 70% !important;
  }
  #bottomlabellogin {
    font-size: 14px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #login-body {
    height: 100vh;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #login-body {
    height: 100vh;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  #login-body {
    height: 100vh;
  }
}
@media only screen and (min-width: 1201px) {
  #login-body {
    height: 100vh;
  }
}
#register-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("images/LoginBackground.jpg");
  background-size: 100% 105%;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  text-align: center;
  /* Responsive Styling */
  /* For Mobile Devices - 320px — 480px */
}
#register-body #register-bar {
  width: 100%;
  height: 3px;
  background-color: grey;
  opacity: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
}
#register-body #formregister {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  width: 400px;
  margin: 0 auto;
  border-radius: 12px;
}
#register-body #formregister .lblregform {
  margin-bottom: 3px;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#register-body #formregister #texttopreg {
  margin-top: 15px;
  text-align: center;
  font-size: larger;
  color: #436f70;
}
#register-body #formregister input[type=text],
#register-body #formregister input[type=email],
#register-body #formregister input[type=password] {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
  text-align: center;
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#register-body #formregister select {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
  text-align: center;
  width: calc(80% + 4px);
  align-self: center;
  padding: 0 2px; /* Add padding to center the text within the select */
  -moz-appearance: none; /* Remove default appearance in Firefox */
  -webkit-appearance: none; /* Remove default appearance in Safari/Chrome/Opera */
  appearance: none; /* Remove default appearance in other browsers */
  background: url("images/caret-right.svg") no-repeat right center; /* Replace "arrow-icon.png" with your arrow icon */
  background-size: 20px; /* Set the size of the arrow icon */
}
#register-body #formregister select:focus {
  background: url("images/caret-down.svg") no-repeat right center;
  background-size: 20px; /* Set the size of the arrow icon */
}
#register-body #formregister select::-ms-expand {
  display: none; /* Hide the default arrow icon in Internet Explorer */
}
#register-body #formregister button {
  align-self: center;
  padding: 10px;
  background-color: #87bfc0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  width: 50%;
  margin-top: 20px;
}
#register-body #formregister button:hover {
  background-color: #6cb0b2;
}
@media only screen and (max-width: 480px) {
  #register-body #formregister {
    width: 90%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc #fff;
  }
  #register-body .lblregform input,
  #register-body #selecReg {
    width: 100%;
  }
}

/* For iPads and Tablets - 481px — 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #formregister {
    width: 70%;
  }
}
/* For Laptops and small screens - 769px — 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #formregister {
    width: 50%;
  }
}
/* For Max Height up to 550px */
@media only screen and (max-height: 550px) {
  #formregister {
    overflow-y: auto;
    margin-bottom: 10%;
  }
}
/* For Min Height 551px — 1200px */
@media only screen and (min-height: 551px) and (max-height: 1200px) {
  #formregister {
    overflow-y: auto;
  }
}
/* For Min Height 1201px and more */
#formregister {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #fff;
}

#admin-body {
  font-family: "Arial", sans-serif;
}
#admin-body table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
#admin-body th,
#admin-body td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
#admin-body th {
  background-color: #bcdbdc;
  font-weight: bold;
}
#admin-body a {
  text-decoration: none;
  color: #000;
}
#admin-body .approve-button:hover,
#admin-body .decline-button:hover {
  filter: brightness(85%);
}
#admin-body .approve-button {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
#admin-body .decline-button {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
#admin-body .navbar {
  background-color: #6cb0b2;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
#admin-body .navbar-left img,
#admin-body .navbar-right img {
  width: 30px;
  height: 30px;
}
#admin-body .navbar-right img {
  margin-left: 10px;
}

@font-face {
  font-family: "Garamond";
  src: url("/style/fonts/EBGaramond.ttf") format("truetype");
}
#test-body {
  display: flex;
  font-family: "Garamond";
  font-weight: 500;
}

.chat-box {
  margin-top: 75px;
  width: 33vw;
  height: 85vh;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  border-radius: 10px;
  justify-self: flex-end;
}

.message1 {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #87bfc0;
  border-radius: 5px;
  width: fit-content;
  align-self: flex-end;
}

.message2 {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #bcdbdc;
  border-radius: 5px;
  width: fit-content;
  align-self: flex-start;
}

.user {
  font-weight: bold;
}

.time {
  font-size: 0.8em;
  color: #777;
}

.navbar {
  background-color: #6cb0b2;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.navbar-left img,
.navbar-right img {
  width: 30px;
  height: 30px;
}

.navbar-right img {
  margin-left: 10px;
}

.chat-box {
  position: relative;
}

.chat-input-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.send-button {
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  background-color: #87bfc0;
  color: #fff;
  cursor: pointer;
}

.send-button:hover {
  background-color: #6ca9aa;
}

.info-box {
  width: 33vw;
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: #f5f5f5;
}

.container {
  padding-top: 75px;
  padding-right: 20px;
  display: flex;
}

.description-images-container {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.description-box {
  height: 50vh;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  background-color: #f5f5f5;
  overflow-y: auto; /* Add scrollbar for vertical overflow */
  max-height: 50vh; /* Set maximum height for the description box */
  max-width: 33vw;
}

.images-box {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: #f5f5f5;
}

.images-box img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin: 2px;
}

/* ===== Scrollbar SCSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #82afb3 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #82afb3;
  border-radius: 16px;
  border: 3px solid #f5f5f5;
}

textarea:focus, input:focus {
  outline: none;
}

/*# sourceMappingURL=main.css.map */
