
#admin-body {

  .allButtons {
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 9999;
  }

  .content-container{
    margin: 5px 0 0 -1px;
  }

  table {
    padding: 10px;
    margin-top: 50px;
    width: auto;
    margin-bottom: 20px;
    margin-left: 5%;
  }

  th,
  td {
    padding: 5px;
    text-align: left;
  }

  th {
    background-color: #bcdbdc;
    font-weight: bold;
  }

  td {
    background-color: #e0f2f3;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  th:first-child {
    border-top-left-radius: 10px;
  }
  
  th:last-child {
    border-top-right-radius: 10px;
  }

  .approve-button {
    background-color: #5ab395;
    color: white;
    padding: 5px;
    border-radius: 3px;
    &:hover{
      filter: brightness(85%);
    }
  }

  .decline-button {
    background-color: #8bbbbd;
    color: white;
    padding: 5px;
    border-radius: 3px;
    &:hover{
      filter: brightness(85%);
    }
  }

  #nav-home-tab {
    color: #929191;
  }

  #nav-profile-tab {
    color: #929191;
  }
  
  #nav-contact-tab {
    color: #929191;
    }

  #nav-home-tab.active,
  #nav-profile-tab.active,
  #nav-contact-tab.active {
    color: #000000; /* Black text color for active tab */
  }
}
