#admin-body {

  table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th,
  td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  th {
    background-color: #bcdbdc;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .approve-button {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 3px;
    &:hover{
      filter: brightness(85%);
    }
  }

  .decline-button {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 3px;
    &:hover{
      filter: brightness(85%);
    }
  }

  .navbar {
    background-color: #6cb0b2;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }

  .navbar-left img,
  .navbar-right img {
    width: 30px;
    height: 30px;
  }

  .navbar-right img {
    margin-left: 10px;
  }
}

.tabs{
  margin-top: 70px;
}