
#admin-body {

  .allButtons {
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 9999;
  }

  .content-container{
   
    margin: 5px 0 0 -1px;
    margin: 0 auto;
  }

  table {
    width: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 5%;
  }

  th,
  td {
    text-align: center;
    width: 250px;
    border: 1px solid grey;
  }

  th {
    padding-top: 10px;
    background-color: #bcdbdc;
    font-weight: bold;
    position: sticky;
    top: 0;
  }

  td {
    background-color: #e0f2f3;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .approve-button {
    width: 100px;
    text-align: center;
    background-color: #5ab395;
    color: white;
    padding: 5px;
    border-radius: 3px;
    &:hover{
      filter: brightness(85%);
    }
  }

  .decline-button {
    width: 100px;
    text-align: center;
    background-color: #8bbbbd;
    color: white;
    padding: 5px;
    border-radius: 3px;
    &:hover{
      filter: brightness(85%);
    }
  }

  .view-button {
    background-color: #7aa5ba;
    color: white;
    padding: 5px;
    border-radius: 3px;
    &:hover{
      filter: brightness(85%);
    }
  }

  #nav-home-tab,
  #nav-profile-tab,
  #nav-contact-tab {
    width: 860px;
    margin: 0 auto;
    color: #929191;
  }

  #nav-home-tab.active,
  #nav-profile-tab.active,
  #nav-contact-tab.active {
    color: #000000;
  }

  .table-container {
    display: flex;
   justify-content: center;
   align-items: center;
    overflow-y: auto;
  }
}
