#projectcreatebody {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    overflow: hidden;

    .multiselect-dropdown{
        max-width: 320px;
        width: 100% !important;
    }
    .multiselect-dropdown-list{
       text-align: left;
    }
    .multiselect-dropdown span.placeholder{
        display: none;
    }
}

#createprojectform {
     background-color: white;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    justify-content: center;
}
 #createprojectform textarea{
   max-height: 65%;
}
#box-left-createproject{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 30px;
    height: 300px;
}
#box-right-createproject{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 30px;
    height: 300px;
}

#createprojectform textarea:focus {
  border-color: #11c9cc;
  }

#createprojectinput {
    display: inline-block;
    padding: 2px 5px 0px 5px;
    border-radius: 4px;
    border: solid 1px #ced4da;
    background-color: white;
    width: 100%;
    height: 40px;
  }
  #createprojectinput:focus {
    outline: none;
  border-color: #11c9cc;
  box-shadow: 0 0 0 0.5px #6cb0b2;
  }

#textareacreateproject {
    border: 1px solid #ccc;
}

#fotoInput {
    width: 40vh;
    background-color: #6cb0b2;
    height: 8vh;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    border: 2px solid #000;


}

#fileInput {
    width: 40vh;
    height: 8vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #6cb0b2;
    color: white;
    border: 2px solid #000;

}
.container-main{
    display: flex;
    flex-direction: column;
    
}
.container-wrapper{
    display: flex;
    flex-direction: row;
}

#createprojectsubmit {
    width: 100%;
    background-color: #87bfc0;
    height: 40px;
    color: white;
    border: solid 0px white;
    padding: 5px;
    font-size: 1em;
    border-radius: 3px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    top: 30px;

    &:hover{
      background-color: #6cb0b2;  
    }
}
#navtabs{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}




