@charset "UTF-8";

// Base Styling
#login-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("images/LoginBackground.jpg");
  background-size: 100% 105%;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;

  .loginForm {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    width: 350px;
    height: 400px;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
    align-items: center;
  
    #logintoptext {
      margin-top: 15px;
      text-align: center;
      font-size: larger;
      color: #436f70;
    }
  
    input[type="text"],
    input[type="password"] {
      height: 20px;
      width: 94%;
      padding: 10px;
      margin-bottom: 25px;
      border: 1px solid #ccc;
      border-top: hidden;
      border-left: hidden;
      border-right: hidden;
      border-radius: 4px;
      text-align: center;
      user-select: none;
    }
  
    label {
      margin-top: 10px;
    }
  
    textarea:focus,
    input:focus {
      outline: none;
    }
  
    button {
      align-self: center;
      padding: 10px;
      background-color: #87bfc0;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.5em;
      width: 50%;
      margin-top: 10px;
      &:hover {
        background-color: #6cb0b2;
      }
    }
  }
  
  #login-bar {
    width: 100%;
    height: 3px;
    background-color: grey;
    opacity: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
  }
  
  #bottomlabellogin {
    margin-top: 5px;
    text-align: center;
    padding-bottom: 15px;
  }



// Responsive Styling

// For Mobile Devices - 320px — 480px
@media only screen and (max-width: 480px) {
  .loginForm{
    background-color: red($color: #ff0000);
    width: 70%;
  }
}

// For iPads and Tablets - 481px — 768px
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .loginForm {
    width: 60%;
  }
}


/* Small devices */
@media screen and (max-height: 600px) {
  .loginForm {
    height: 70%;
    overflow-y: auto;
  }
}
}