
#projecthome {
    display: flex;
    overflow: hidden;
    font-family: 'Garamond';
    src: url('/style/fonts/EBGaramond.ttf') format('truetype');
    font-weight: 500;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

#projectview {
    z-index: 3000;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 8vh;
    overflow: auto; /* Use 'auto' instead of 'scroll' */
    height: 600px; /* Adjust the height as needed */
    
  }

  .item {
    border: 1px solid rgb( 245, 245, 245);
    z-index: 3000;
    padding: 10px;
    color: black;
    opacity: 90%;
    width: 100%;
    font-size: larger;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

.item:hover{
    background-color: #e7e7e7;
}
#pannelcreator{
    flex: 1;
    text-align: left;
}
#panneltitle {
    flex: 1;
    text-align: center; 
  }
  
  #pannelcontact {
    flex: 1;
    text-align: center;
  }
  #pannelprogress{
    flex: 1;
    text-align: center;
  }
  #panneljoin{
    flex: 1;
    text-align: end
  }
#headerproject{
    background-color: #58a9aa;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    color: #fff;
    text-align: center;
    font-size: xx-large;
}
#footerproject{
    position: absolute;
    bottom: 0px;
    background-color: #58a9aa;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    color: #fff;
}
#side{
    height: 1080px;
    width: 10%;
    background-color: #e7e7e7;
}
a{
    text-decoration: none;
    color: #000;
}

#manageButtons {
  display: flex;
  justify-content: space-between;
}

.button-container {
  flex: 1; /* Set flex-grow to allow both containers to expand equally */
  margin-right: 2px; /* Add some spacing between the buttons */
}

.delete-file {
  color: #ff0000;
  font-weight: 700;
  font-size: small;
  border: none;
  background: transparent;
}



