#register-body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    width: 97vw;
    background-image: url("images/LoginBackground.jpg");
    background-size: cover;
    background-position: center;
}

#formregister {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 35%;
    margin: 0 auto;
    border-radius: 12px;
}

#firstnamereg {
    border: #ccc solid 1px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-top: 30px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    /* padding: 2px; */
    width: 60%;
}

#selecReg {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    text-align: center;
    width: 60%;
    align-self: center;
}

#submreg {
    align-self: center;
    padding: 10px;
    background-color: #87bfc0;
    color: #fff;
    border: 3px solid;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    width: 30%;
    margin-top: 20px;
    &:hover{
        background-color: #6cb0b2;
    }
}

#texttopreg {
    margin-top: 15px;
    text-align: center;
    font-size: larger;
    color: #436f70;
}

.lblregform {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 6px;
}