#register-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("images/LoginBackground.jpg");
  background-size: 100% 105%;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  text-align: center;

  #register-bar {
    width: 100%;
    height: 3px;
    background-color: grey;
    opacity: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
  }

  #formregister {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    width: 400px;
    margin: 0 auto;
    border-radius: 12px;
    overflow-y: auto;

    .lblregform {
      margin-bottom: 3px;
      margin-top: 6px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    #texttopreg {
      margin-top: 15px;
      text-align: center;
      font-size: larger;
      color: #436f70;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      margin-top: 10px;
      border: 1px solid #ccc;
      border-left: hidden;
      border-right: hidden;
      border-top: hidden;
      text-align: center;
      width: 80%;
      align-self: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    select {
      margin-top: 10px;
      border: 1px solid #ccc;
      border-left: hidden;
      border-right: hidden;
      border-top: hidden;
      text-align: center;
      width: calc(80% + 4px);
      align-self: center;
      padding: 0 2px; /* Add padding to center the text within the select */
      -moz-appearance: none; /* Remove default appearance in Firefox */
      -webkit-appearance: none; /* Remove default appearance in Safari/Chrome/Opera */
      appearance: none; /* Remove default appearance in other browsers */
      background: url("images/caret-right.svg") no-repeat right center; /* Replace "arrow-icon.png" with your arrow icon */
      background-size: 20px; /* Set the size of the arrow icon */
    }
    select:focus{
      background: url("images/caret-down.svg") no-repeat right center;
      background-size: 20px; /* Set the size of the arrow icon */
    }
    select::-ms-expand {
      display: none; /* Hide the default arrow icon in Internet Explorer */
    }

    button {
      align-self: center;
      padding: 10px;
      background-color: #87bfc0;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.5em;
      width: 50%;
      margin-top: 20px;

      &:hover {
        background-color: #6cb0b2;
      }
    }
  }

  /* Responsive Styling */

  /* For Mobile Devices - 320px — 480px */
  @media only screen and (max-width: 480px) {
    #formregister {
      width: 90%;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: #ccc #fff;
    }

    .lblregform input,
    #selecReg {
      width: 100%;
    }
  }
}

/* For iPads and Tablets - 481px — 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #formregister {
    width: 70%;
  }
}

/* For Laptops and small screens - 769px — 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #formregister {
    width: 50%;
  }
}

/* For Max Height up to 550px */
@media only screen and (max-height: 550px) {
  #formregister {
    overflow-y: auto;
    margin-bottom: 10%;
  }
}

/* For Min Height 551px — 1200px */
@media only screen and (min-height: 551px) and (max-height: 1200px) {
  #formregister {
    overflow-y: auto;
  }
}

/* For Min Height 1201px and more */
@media only screen and (min-height: 1201px) {
}


